body {
    height: 1728px;
}

#logo {
    width: 144px;
    height: 118px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 118px;
}

#bgline {
    height: 1800px;
    position: absolute;
    right: 105px;
    top: 0px;
    z-index: 0;
}

#bgline1 {
    height: 1800px;
    position: absolute;
    left: 136px;
    top: 0px;
    z-index: 0;
}

#bgline2 {
    width: 100%;
    position: absolute;
    top: 263px;
    z-index: 0;
}

#bgline3 {
    width: 100%;
    position: absolute;
    top: 363px;
    z-index: 0;
}

#bgline4 {
    width: 100%;
    position: absolute;
    top: 1605px;
    z-index: 0;
}

#bgline5 {
    width: 100%;
    position: absolute;
    top: 1905px;
    z-index: 0;
}

#links {
    margin-top: 270px;
}

#gamb {
    width: 49px;
    height: 24px;
}

#email {
    width: 75px;
    height: 75px;
}

#sumb {
    width: 17px;
    height: 46px;
}