body {
    height: 1728px;
}

#logo {
    width: 144px;
    height: 118px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 118px;
}

#bgline {
    height: 2008px;
    position: absolute;
    right: 105px;
    top: 0px;
    z-index: 0;
}

#bgline1 {
    height: 2008px;
    position: absolute;
    left: 137px;
    top: 0px;
    z-index: 0;
}

#bgline2 {
    width: 100%;
    position: absolute;
    top: 263px;
    z-index: 0;
}

#bgline3 {
    width: 100%;
    position: absolute;
    top: 363px;
    z-index: 0;
}

#bgline4 {
    width: 100%;
    position: absolute;
    top: 1605px;
    z-index: 0;
}

#bgline5 {
    width: 100%;
    position: absolute;
    top: 1905px;
    z-index: 0;
}

#links {
    margin-top: 270px;
}

#gamb {
    width: 49px;
    height: 24px;
}

#email {
    width: 75px;
    height: 75px;
}

#sumb {
    width: 17px;
    height: 46px;
}

tr {
    height: 211px;
    border: 0px;
}

table {
    margin-top: 100px;
    width: 1055px;
    height: 1055px;
    min-width: 1055px;
}

#white {
    background-color: white;
}

#blue {
    background-color: #C2F1E4;
}

.card-text {
    font-family: 'Roboto', sans-serif;
}

td {
    height: 211px;
    width: 211px;
}

.card-title {
    height: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

#line {
    height: 118px;
    position: absolute;
    top: 1247px;
    padding-left: 160px;
}

#line2 {
    height: 92px;
    position: absolute;
    top: 1047px;
    padding-left: 300px;
}

#line3 {
    height: 21px;
    position: absolute;
    top: 1176px;
    padding-left: 385px;
}

#arrow {
    height: 113px;
    position: absolute;
    top: 818px;
    padding-left: 370px;
}

#arrow2 {
    height: 121px;
    position: absolute;
    top: 1038px;
    padding-left: 608px;
}

#arrow3 {
    height: 117px;
    position: absolute;
    top: 815px;
    padding-left: 610px;
}

#arrow4 {
    position: absolute;
    top: 1043px;
    padding-left: 366px;
}

#arrow5 {
    height: 307px;
    position: absolute;
    top: 835px;
    padding-left: 410px;
}

#arrow6 {
    height: 115px;
    position: absolute;
    top: 855px;
    padding-left: 384px;
}

#line4 {
    height: 93px;
    position: absolute;
    top: 624px;
    padding-left: 980px;
}

#line5 {
    height: 15.5px;
    position: absolute;
    top: 565px;
    padding-left: 831px;
}

#line6 {
    height: 54px;
    position: absolute;
    top: 555px;
    padding-left: 601px;
}

#line7 {
    position: absolute;
    top: 835px;
    padding-left: 970px;
}

#line8 {
    height: 123px;
    position: absolute;
    top: 824px;
    padding-left: 823px;
}

#line9 {
    height: 125px;
    position: absolute;
    top: 612px;
    padding-left: 602px;
}

#arrow7 {
    height: 125px;
    position: absolute;
    top: 1041px;
    padding-left: 591px;
}

#line10 {
    height: 28px;
    position: absolute;
    top: 1200px;
    padding-left: 829px;
}

#line11 {
    height: 97px;
    position: absolute;
    top: 1256px;
    padding-left: 970px;
}

#line12 {
    height: 32px;
    position: absolute;
    top: 1390px;
    padding-left: 830px;
}

#arrow8 {
    height: 120px;
    position: absolute;
    top: 835px;
    padding-left: 361px;
}

#arrow9 {
    height: 93px;
    position: absolute;
    top: 836px;
    padding-left: 530px;
}

#arrow10 {
    height: 93px;
    position: absolute;
    top: 1047px;
    padding-left: 530px;
}

#arrow11 {
    height: 25px;
    position: absolute;
    top: 980px;
    padding-left: 610px;
}

#arrow12 {
    height: 25px;
    position: absolute;
    top: 980px;
    padding-left: 387px;
}

#line13 {
    height: 97px;
    position: absolute;
    top: 621px;
    padding-left: 300px;
}

#line14 {
    height: 25px;
    position: absolute;
    top: 560px;
    padding-left: 164px;
}

#line15 {
    height: 97px;
    position: absolute;
    top: 622px;
    padding-left: 100px;
}